BOT_TOKEN=
BOT_USERNAME=
DEFAULT_CHANNEL_USERNAME=@backend_dev1
NEWS_CRON=0 10 */2 * *
NEWS_ADMIN_IDS=123456789,987654321

# Super Admin sozlamlari
SUPER_ADMIN_ID=YOUR_SUPER_ADMIN_TELEGRAM_ID

# Admin panel sozlamalari
BROADCAST_ENABLED=true
USER_BLOCKING_ENABLED=true
PREMIUM_ENABLED=true
STATS_ENABLED=true
AUTOPOST_ENABLED=true
RENDER_EXTERNAL_URL=https://one-tgbot.onrender.com
PORT=10000
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
OPENAI_API_KEY=
CREATOR_NAME=Bahriddin
CREATOR_USERNAME=@bakhridd1n_dev
CREATOR_BIO=Backend developer
CREATOR_STACK=Node.js Backend Developer
CREATOR_CHANNEL=@backend_dev1
