BOT_TOKEN=
BOT_USERNAME=
DEFAULT_CHANNEL_USERNAME=@backend_dev1
NEWS_CRON=0 10 */2 * *
AUTOPOST_ENABLED=true
RENDER_EXTERNAL_URL=https://one-tgbot.onrender.com
PORT=10000
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
CREATOR_NAME=Bahriddin
CREATOR_USERNAME=@bakhridd1n_dev
CREATOR_BIO=Backend developer
CREATOR_STACK=Node.js Backend Developer
CREATOR_CHANNEL=@backend_dev1
